.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brjansi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.brjann-img {
  width: 88%;
}

.spacer {
  height: 10vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

html {
  /* background-color: brown; */
  
}

.background {
  background-image: url('./images/index.png');
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.call-container {
  display: flex;
  max-width: 500px;


  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
}

.call-button {
  background-color: green;
  color: white;
  border: 1px black solid;
  border-radius: 100%;
  padding: 0.3em;
  width: 20%;
  height: 20%;
  margin-top: 20px;
  cursor: pointer;
}

.big-spacer {
  height: 30vh;
}

.hang-up{
  background-color: red;
}